<h2>Create a Celebrity of your choice!</h2>

<form action="/celebrities/create" method="post">

<label for="name-input">Name:</label>
<input type="text" name="name" id="name-input" required />

<label for="occupation-input">Occupation:</label>
<input type="text" name="occupation" id="occupation-input" />

<label for="catch-input">Catch Phrase:</label>
<input type="text" name="catchPhrase" id="catch-input"  />

<button type="submit">create a new celebrity</button>

</form>